@import 'components/DoctorSchedule/style.scss';

.doctorCard {
  padding: 40px 0;

  @include md {
    padding: 67px 0 57px;
  }

  &__main {
    text-align: center;

    img {
      margin-bottom: 24px;
      width: 100px;

      @include md {
        width: 91px;
      }
    }

    h3 {
      padding: 0 0 5px 0;
      font-size: 2rem;

      @include md {
        padding: 0 0 19px 0;
        font-size: 3.2rem;
      }
    }

    &__spe {
      color: $darkGray;
      font-weight: 400;
      margin-bottom: 30px;
      font-size: 1.6rem;
      line-height: 28px;

      @include md {
        font-size: 1.8rem;
        line-height: 25.23px;
      }
    }

    &__sis {
      color: $darkGray;
      font-size: 1.8rem;
      letter-spacing: 0.72px;

      @include md {
        font-size: 2.2rem;
        letter-spacing: 0.98px;
      }
    }
  }

  &__info {
    box-shadow: 0 0 13px rgba(0, 52, 97, 0.18);
    background-color: #ffffff;
    margin-top: 30px;

    @include md {
      margin-top: 40px;
    }

    &__wrapper {
      @extend .flexRow;
      justify-content: space-between;

      @include lg {
        padding: 25px 0;
      }
    }

    &__item {
      @extend .flexRow;
      color: $darkGray;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 27.03px;
      align-items: center;
      padding: 22px 0;
      flex-wrap: wrap;
      justify-content: center;

      @include md {
        font-size: 2rem;
      }

      @include lg {
        flex-wrap: nowrap;
      }

      img {
        height: 55px;
        width: auto;
        display: inline-block;
        margin: 0 0 22px 0;

        @include md {
          width: 55px;
          height: auto;
        }

        @include lg {
          padding: 0 0 0 4%;
          margin: 0;
          height: 64px;
          width: auto;
        }
      }

      p {
        padding-left: 10px;
        width: 100%;
        text-align: center;

        @include lg {
          width: auto;
          text-align: left;
        }

        span {
          height: 22px;
          color: #cf1d4e;
          font-family: 'Montserrat - Semi Bold Italic';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 28.83px;
          font-family: 'Montserrat Semi Bold';
          font-weight: 600;
          font-family: Montserrat;
          font-style: italic;  

          @include md {
            font-size: 2rem;
          }
        }
      }

      &:first-of-type,
      &:nth-of-type(2) {
        flex-basis: 100%;
        border-bottom: 1px solid #d0d0d0;

        @include lg {
          flex-basis: calc((100% / 2) / 2);
          border-bottom: 0px;
        }
      }

      &:nth-of-type(3) {
        flex-basis: 100%;
        & > div {
          flex-basis: 100%;
        }

        @include lg {
          flex-basis: 50%;
        }
      }

      &:not(:first-of-type) {
        @include lg {
          border-left: 1px solid #d0d0d0;
          border-bottom: 0px;
        }
      }
    }
  }

  &__timePlace {
    @extend .flexRow;
    justify-content: space-between;
    padding: 40px 0;

    & > div {
      @include flexChild(2, 10px);
      @extend .flexRow;
      justify-content: center;
    }

    img {
      max-width: 330px;
      margin: 0 auto;
    }
  }

  &__btnHolder {
    display: flex;
    justify-content: center;
  }

  &__divider {
    text-align: center;
    padding: 40px 0;

    .dividerCircles {
      margin: 0;
    }
  }

  .textBlock {
    padding: 6rem 0 0 0;

    &:first-of-type {
      padding: 0;
    }
  }
}
