.polyclinicBoxes {
 
  ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    li {

      &:before {
        content: none;
      }
    }
  }

  h3 {
    padding-bottom: 50px;
    margin-bottom: 0;
    @include webkitGradientText;
  }


  @include max-lg {
    
  }
}
