.polyclinicBoxes {
 
  h3 {
    padding-bottom: 50px;
    padding-top: 10px;
    margin-bottom: 0;
    
    @include webkitGradientText;
  }

  ul {
    @include reset-list;

    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    grid-template-rows: 295px;
    justify-items: center;
    margin-bottom: 50px;

    li {
      padding: 0;
    }
  }
}
