.crossRoads {
  padding: 5rem 0 3rem 0;
  @include max-md {
    padding: 2.5rem 0 1.5rem 0;
  }

  &__wrapper {
    justify-content: space-between;
  }

  &__card {
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 16px 8% 16px 8%;
    background-color: #fff;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.12);

    @include sm {
      padding: 16px 24% 16px 12%;
    }

    @include max-md {
      display: table;
    }

    @include md {
      padding: 23px;
      transition: 300ms ease;

      &:hover {
        transform: translateY(-3px);

        &:after {
          width: 100%;
          right: auto;
          left: 0;
        }
      }
    }

    &:after {
      @include pseudo;
      @include leftRightGradient(#2472b8, #00aadd);
      transition: 300ms ease 50ms;
      height: 6px;
      width: 0;
      right: 0;
      bottom: 0;
    }

    &__img {
      height: 48px;
      width: 48px;
      display: block;
      margin-right: 24px;

      @include md {
        width: 46px;
        height: 46px;
        position: relative;
        margin: 0 auto 14px auto;
      }

      @include max-md {
        display: inline-block;
      }

      @include lg {
        height: 90px;
        width: 90px;
        margin: 0 auto 36px auto;
      }

      .mediaRatio {
        padding-top: 0 !important;
        margin: 0 auto;
        display: block;
        height: 100%;
      }
    }

    p {
      text-align: center;
      color: $darkGray;
      font-size: 1.8rem;
      font-weight: 400;
      width: calc(100% - (48px + 24px));

      @include max-md {
        display: table-cell;
        vertical-align: middle;
      }

      @include max-sm {
        text-align: left;
      }
      
      @include md {
        font-size: 2rem;
        width: 100%;
      }
    }
  }
}