.select-btn {
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
  width: 260px;
  box-sizing: border-box;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 1.6rem;
  overflow: hidden;
  background-color: #f4f5f7;
  position: relative;

  @include max-md { width: 100%; }

  &:hover {
    .arrow { top: 26px; }
  }

  select {      
    width: 100%;
    border: none;
    padding: 15px 35px;
    box-shadow: none;
    font-size: 1.8rem;
    color: #3c3c3b;
    border: none;
    background-color: #f4f5f7;
    background-image: none;
    -webkit-appearance: none;
      -moz-appearance: none;
            appearance: none;

    &:focus { outline: none; }
  }

  .arrow {
    content: '';
    padding: 3px;
    border: solid $lightBlue;
    display: inline-block;
    position: absolute;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: 230ms ease;
    right: 20px;
    top: 23px;
  }
}