$avatar: 'avatar';
$avatarRed: rgb(255, 153, 153);

.avatarDoll {
  width: 100%;
  transition: 300ms ease;
  max-width: 290px;

  @include sm {
    height: 600px;
    width: AUTO;
    max-width: none;
  }

  svg {
    width: 100%;
    fill: transparent;
    // stroke: $lightBlue;
    // stroke-width: 4px;

    @include sm {
      height: 100%;
      width: AUTO;
    }

    * {
      z-index: 1;
    }

    .#{$avatar}__area {
      cursor: pointer;
      z-index: 100;
      stroke: none;
      transition: 300ms ease;

      &:hover {
        fill: $avatarRed;

        path {
          fill: $avatarRed;
        }
      }
    }
    .#{avatar}__eye {
      fill: $lightBlue;
    }

    .#{avatar}__eyebrow,
    .#{avatar}__mouth,
    .#{avatar}__ear,
    .#{avatar}__nose {
      // stroke: $lightBlue;
    }
  }

  $areaList: body belly chest feet arm legs face;

  @each $area in $areaList {
    &.active--#{$area} {
      .avatar__#{$area} {
        fill: $avatarRed;

        path {
          fill: $avatarRed;
        }
      }
    }
  }
}
