.hero {
  @extend .flexColumn;
  @include background-image(cover, center);
  height: 395px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;

  @include md {
    height: 650px;
  }

  .container {
    position: relative;
  }

  &__holder {
    padding-top: 10%;
  }

  h1 {
    padding-bottom: 36px;
    @include webkitGradientText;
  }

  &__text {
    max-width: 440px;
    color: $darkGray;
    font-family: $mons;
    text-align: center;
    margin: 0 auto 40px auto;
    font-size: 18px;
    line-height: 28px;

    @include md {
      margin: 0 auto 50px auto;
      font-size: 2.4rem;
      line-height: 34.36px;
    }
  }
}
