.hero {
  @extend .flexColumn;
  @include background-image(cover, top center);
  height: 395px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;

  @include md {
    height: 650px;
  }

  &__overlay {
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.35;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  .container {
    z-index: 3;
    position: relative;
  }

  &__holder {
    padding-top: 10%;
  }

  &__title {
    &--blue {
      @include webkitGradientText;
    }
    &--white {
      color: #fff;
    }
  }

  h1 {
    padding-bottom: 36px;
    line-height: 1.2;
  }

  &__text {
    max-width: 440px;

    font-family: $mons;
    text-align: center;
    margin: 0 auto 40px auto;
    font-size: 18px;
    line-height: 28px;

    @include md {
      margin: 0 auto 50px auto;
      font-size: 2.4rem;
      line-height: 34.36px;
    }

    &--gray {
      color: $darkGray;
    }

    &--white {
      color: #fff;
    }
  }
}
