.blogArticle {
  padding-top: 120px;

  @include md {
    padding-top: 170px;
  }

  .container {
    width: 90%;

    @include md {
      max-width: 820px;
      width: 100%;
    }
  }

  h1 {
    padding-bottom: 55px;
  }

  .mediaRatio {
    padding-top: 0 !important;
    width: 100%;
    height: 360px;
  }

  &__content {
    margin-bottom: 55px;
    text-align: center;

    font-size: 1.6rem;
    line-height: 30px;
    letter-spacing: 1.28px;

    @include md {
      font-size: 18px;
      line-height: 36px;
      letter-spacing: 1.6px;
    }
  }
}
