.reviews {
  padding-bottom: 2rem;
  color: $darkGray;

  @include max-xl {
    font-size: 1.4rem;
  }
  @include max-lg {
    font-size: 1.6rem;
  }
  @include max-xs {
    font-size: 1.4rem;
  }

  h3 { 
    @include webkitGradientText;
  }

  &__list {
    justify-content: space-between;

    &__element {
      width: 100%;
      padding: 0;
      max-width: 370px;
      margin-bottom: 2rem;
      background-color: #f4f5f7;
      background-repeat: no-repeat;      

      @media (max-width: 1199px) {
        max-width: 310px;
      }

      @media (max-width: 991px) {
        max-width: 350px;
      }

      @include max-md {
        max-width: 92%;
        margin: 0 auto;

        &:not(:last-of-type) {
          margin-bottom: 2rem;
        }
      }

      .mediaRatio {
        padding-top: 0 !important;
        width: 105px;
        height: 130px;
      }

      &__image {
        align-self: center;
      }

      &__content {
        padding: 1.5rem;
        align-self: center;

        @include max-md {
          padding-left: 2.5rem;
        }

        @include max-sm {
          padding-left: 5rem;
        }

        cite {
          line-height: initial;
        }
        .stars {
          padding-top: 5px;
          max-height: 40px;
          overflow: hidden;

          svg {
            width: 13px;
            height: 13px;
            margin-right: 6px;

            @include md {
              width: 20px;
              height: 20px;
              margin-right: 9px;
            } 

            &:nth-of-type(1) {
              fill: #206aad;
            }
            &:nth-of-type(2) {
              fill: #1b74b3;
            }
            &:nth-of-type(3) {
              fill: #1187bc;
            }
            &:nth-of-type(4) {
              fill: #0f92c2;
            }
            &:nth-of-type(5) {
              fill: #079bc6;
            }
          }
        }
      }
    }
  }
}