.reviews {
  margin-bottom: 40px;
  color: #3c3c3b;

  h3 { @include webkitGradientText; }

  &__list {
    justify-items: center;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);

    &__element {
      height: 140px;
      width: 100%;
      background-color: #f4f5f7;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 110px 1fr;

      &__content {
        display: grid;
        grid-template-rows: 1fr 50px;
        padding: 25px 5px 0 15px;

        cite {
          max-width: 250px;
          line-height: initial;
        }
        .stars {
          padding-top: 5px;
        }
      }
    }
  }

  @include max-xl { font-size: 1.4rem; }
  @include max-lg {
    font-size: 1.6rem;

    &__list {
      grid-template-columns: 1fr;

      &__element {
        &__content {
          cite { 
            max-width: none;
            align-self: center;
          }
        }
      }
    }
  }
  @include max-xs {
    font-size: 1.4rem;
  }
}
