.odbornost {
  margin-bottom: 50px;

  .odbornost__doctor__imageWrapper {
    margin-bottom: 30px;
    height: 192px;

    @include md {
      justify-self: flex-end;
      height: 292px;
      width: 480px;
      margin-right: 18px;
      margin-bottom: 0;
    }
  }

  .mediaRatio {
    height: 100%;
    padding-left: 100% !important;
    padding-top: 0 !important;

    img {
      object-fit: contain !important;
    }
  }

  p {
    font-size: 2rem;
    margin: 30px 0 15px;
  }

  cite {
    line-height: inherit;
  }

  &__doctor {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr;
    @include md {
      grid-template-columns: 50% 1fr;
    }
  }

  @include max-md {
    text-align: center;

    .horizontal-line {
      display: block;
      margin: 0 auto;
    }
    .mediaRatio {
      justify-self: center;
    }

    &__doctor {
      grid-template-rows: auto;
      grid-template-columns: 100%;
    }
  }
}
