.odbornost {
  margin-bottom: 5rem;

  @include max-md {
    margin-bottom: 2.5rem;
  }

  p {
    font-size: 2rem;
    margin: 30px 0 15px;
  }

  cite {
    line-height: inherit;
  }

  .mediaRatio {
    padding-top: 0 !important;
    height: 290px;
    width: 420px;
    float: right;

    @include max-lg {
      margin: 0 auto;
      float: inherit;
    }

    @include max-xs {
      width: inherit;
      height: inherit;
      padding-top: 100% !important;
    }
  }

  .dividerCircles {
    margin: 0 auto;
    padding: 4rem 0;

    @include max-md {
      padding: 2rem 0;
    }
  }

  &__contentWrapper {
    max-width: 420px;
    display: table;
    height: 100%;
    width: 100%;

    @include max-lg {
      padding-top: 3rem;
      max-width: inherit;
    }
  }

  &__content {
    display: table-cell;
    vertical-align: middle;
    
    @include max-lg {
      text-align: center;
    }
  }

  .horizontal-line {
    @include max-lg {
      margin: 0 auto;
    }
  }
}