.odbornost {
  margin-bottom: 50px;

  .mediaRatio {
    padding-top: 0 !important;
    justify-self: end;
    margin-right: 50px;
    width: initial;
    width: 420px;
    height: 290px;

    img {
      object-fit: contain !important;
    }
  }
  p {
    font-size: 2rem;
    margin: 30px 0;
  }
  cite {
    line-height: inherit;
  }

  &__doctor {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @include max-md {
    text-align: center;

    .horizontal-line {
      display: block;
      margin: 0 auto;
    }
    .mediaRatio {
      justify-self: center;
      margin-bottom: 30px;
    }
    &__doctor {
      grid-template-rows: auto;
      grid-template-columns: 1fr;
    }
  }
}
