.hamburgerHolder {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;

  .hamburger {
    width: 25px;
    height: 25px;
    z-index: 100;

    & > div {
      background-color: $lightBlue;
      height: 2px;
      width: 100%;
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition: 300ms ease;

      &:after,
      &:before {
        @include pseudo();
        background-color: $lightBlue;
        height: 2px;
        width: 100%;
        display: block;
      }

      &:after {
        top: -8px;
        transition: 300ms ease;
        transition-delay: 300ms;
      }

      &:before {
        bottom: -8px;
        transition: 300ms ease;
        transition-delay: 500ms;
      }
    }
  }

  .hamburgerActive {
    width: 25px;
    height: 25px;
    transition: 300ms ease 300ms;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;

    & > div {
      background-color: transparent;
      height: 2px;
      width: 0%;
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition: 300ms ease;

      &:after,
      &:before {
        @include pseudo();
        background-color: $blue;
        height: 2px;
        width: 0%;
        display: block;
        transition: 300ms ease;
      }

      &:after {
        top: -8px;
        transform: translate3d(0, 8px, 0) rotate(-45deg);
      }

      &:before {
        bottom: -8px;
        transform: translate3d(0, -8px, 0) rotate(45deg);
      }
    }
  }

  &.active {
    .hamburger {
      & > div {
        width: 0;

        &:after {
          width: 0;
        }

        &:before {
          width: 0;
        }
      }
    }

    .hamburgerActive {
      & > div {
        width: 100%;

        &:after {
          width: 100%;
        }

        &:before {
          width: 100%;
        }
      }
    }
  }

  & > span {
    display: none;

    @include md {
      margin-left: 17px;
      color: $lightBlue;
      font-family: $mons;
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.64px;
      display: block;
    }
  }
}
