.viewsAboutUs {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  
  @include max-md {
    margin-bottom: 0;
  }

  .col-sm-12,
  .col-md-6,
  .col-lg-4 {
    margin-bottom: 3rem;
  }

  h3 {
    @include webkitGradientText;
  }

  a { 
    color: $lightBlue;
    padding-top: 1rem;
  }

  .mediaRatio {
    width: 106px;
    height: 124px;
    padding-top: 0 !important;
  }

  &__list {
    justify-content: flex-start;

    &__element {
      width: 100%;
      height: 100%;
      position: relative;
      background-color: #f4f5f7;
      background-repeat: no-repeat;
      
      &__link {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }

      &__content {
        height: 100%;
        display: table;
        padding-right: 2rem;

        @include max-xs {
          padding-left: 2.4rem;
        }

        cite {
          line-height: initial;
        }
      }
    }
  }
}