.viewsAboutUs {
  margin-bottom: 50px;

  h3 { @include webkitGradientText; }
  a { 
    color: $lightBlue;
    padding-top: 10px;
  }
  img {
    align-self: center;
    margin: 10px;
    width: initial;
  }

  &__list {
    justify-items: center;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);

    &__element {
      height: 100%;
      width: 100%;
      background-color: #f4f5f7;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 110px 1fr;
      
      &__content {
        display: grid;
        grid-template-rows: 1fr 50px;
        padding: 25px 5px 0 25px;

        cite {
          max-width: 250px;
          line-height: initial;
        }
      }
    }
  }

  @include max-xl { font-size: 1.4rem; }
  @include max-lg {
    font-size: 1.6rem;

    &__list { grid-template-columns: 1fr; }
    
    cite {
      max-width: none;
      align-self: center;
    }
  }
  @include max-xs { 
    font-size: 1.4rem;
  
    cite {
      max-width: none;
      align-self: start;
    }
  }
}