.contacts-block {
  text-align: center;
  padding-bottom: 5rem;
  @include max-md {
    padding-bottom: 2.5rem;
  }

  h3 {
    padding-top: 0;
    padding-bottom: 5px;  
  }
  h4 {
    padding-bottom: 5rem;
    @include max-md {
      padding-bottom: 2.5rem;
    }
  }
  h3,
  h4 {
    @include webkitGradientText;
    @include max-md {
      padding-top: 2.5rem;
    }
  }

  a {
    transition: $customEase;
    display: block;

    &:hover { color: $lightBlue; }
  }

  &__email {
    a {
      color: $lightBlue;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__name {
    font-size: 2rem;
    font-weight: 600;
  }

  &__main {
    justify-content: flex-start;
    
    &__element {
      margin-bottom: 2.5rem;
    }
  }
}
