.downloads {
  text-align: center;
  padding-bottom: 2.5rem;

  h3 {
    @include webkitGradientText;
  }
  p {
    font-size: 1.8rem;
    color: #3c3c3b;
  }

  &__list {
    justify-content: flex-start;

    &__element {
      width: 100%;
      overflow-wrap: break-word;

      p {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        padding: 4rem 0 3rem 0;
      }

      a {
        margin: 0 auto;
        max-width: 230px;
        color: $lightBlue !important;

        @include md {
          &:hover {
            color: white !important;

            .downloadIcon {
              fill: white;
            }
          }
        }

        .downloadIcon {
          transition: $customEase;
          position: relative;
          left: 20px;
          width: 14px;
          height: 20px;

          &--lightBlue {
            fill: $lightBlue;
          }
        }
      }
    }
  }
}