.searchBar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 13px rgba(0, 52, 97, 0.18);
  position: relative;

  &--focused {
    .svgIcon {
      fill: $lightBlue;
    }

    .searchBar__bar {
      &:after {
        width: 100%;
      }
    }
  }

  &__input {
    display: block;
    position: relative;
    background-color: #fff;
    padding: 10.5px 19px;
    width: 100%;
    box-sizing: border-box;

    @include md {
      padding: 19px;
    }

    input {
      width: 100%;
      box-sizing: border-box;
      padding-right: 25px;
      background-color: white;
      color: $darkGray;
      font-family: $mons;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 1.12px;

      @include md {
        font-size: 2rem;
        letter-spacing: 0.88px;
      }

      &::placeholder {
        color: $darkGray;
      }
    }

    .searchIcon {
      position: absolute;
      right: 21px;
      top: 50%;
      transform: translateY(-50%);
      width: 22px;
      height: 22px;
    }
  }

  &__bar {
    display: block;
    height: 4px;
    width: 100%;
    transition: 300ms;
    position: relative;

    &:after {
      @include pseudo;
      height: 4px;
      width: 0;
      left: 0;
      top: 0;
      @include leftRightGradient(#2472b8, #00aadd);
      z-index: 2;
      transition: 300ms ease;

      @include md {
        height: 8px;
      }
    }

    @include md {
      height: 8px;
    }
  }

  &--lightBlue {
    .searchBar__bar {
      @include leftRightGradient(#2472b8, #00aadd);
    }
  }

  &--gray {
    .searchBar__bar {
      background-color: #c5c8ca;
    }
  }

  &Results {
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 0;
    height: 300px;
    box-shadow: 0 0 25px rgba(0, 52, 97, 0.18);
    overflow-y: scroll;
    height: 0;
    opacity: 0;
    transition: 300ms ease;
    z-index: 200;

    @include md {
      top: 73px;
    }

    &__noResults {
      padding: 0px 25px;
      color: $blue;
      width: 100%;
      text-align: center;
      font-weight: 500;
    }

    &.active {
      height: 300px;
      opacity: 1;
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 100%;
    }

    &::-webkit-scrollbar-thumb {
      background: $lightBlue;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f8f8f8;
    }

    &__doctors {
      list-style: none;

      li {
        padding: 10px 25px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        color: #c5c8ca;

        &.active {
          color: black;
        }

        &:hover {
          background: #c5c5c534;
        }

        &:before {
          display: none;
        }

        span {
          p {
            &:nth-child(1) {
              margin-bottom: 0;
              font-weight: 500;
            }
            &:nth-child(2) {
              line-height: 1;
              font-size: 1.2rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    hr {
      width: calc(100% - 50px);
      height: 1px;
      margin: 24px auto;
      border-bottom: 1px solid #c5c5c5;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
    }

    &__blog {
      list-style: none;

      label {
        padding: 10px 25px;
        text-transform: uppercase;
        color: #000;
        font-size: 1.6rem;
        width: 100%;
        font-weight: 600;
        text-align-last: left;
        margin-bottom: 12px;
      }

      li {
        padding: 16px 25px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        transition: 300ms;

        &:hover {
          background: #c5c5c534;
        }

        div:nth-child(2) {
          width: 80%;
        }

        h4 {
          color: #000;
          font-size: 1.4rem;
          width: 100%;
          padding: 0;
          text-align-last: left;
          margin-bottom: 12px;
        }

        &:before {
          display: none;
        }

        p {
          color: #c5c5c5;
          font-size: 1.4rem;
        }
      }
    }
  }
}
