@import './components/Hamburger/style.scss';

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 400;

  &__iso {
    position: absolute;
    height: 20px;
    bottom: -20px;
    width: 100%;
    left: 0;

    @include xl {
      height: 70px;
      bottom: -70px;
      height: 50px;
      bottom: -70px;
    }

    svg {
      position: absolute;
      bottom: 1px;
      width: 100%;
      height: 20px;
      filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.12));

      polygon {
        transition: 300ms ease;
      }

      @include xl {
        height: 70px;
      }
    }
  }

  &__wrapper {
    @extend .flexRow;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
    background-color: #fff;
    flex-wrap: nowrap;

    @include md {
      padding: 2rem 0;
    }
  }

  &__logo {
    min-width: 55px;

    @include md {
      flex-basis: 10%;
    }

    @include lg {
      flex-basis: auto;
    }

    img {
      width: 55px;

      @include md {
        width: 100%;
      }

      @include lg {
        width: 120px;
      }
    }
  }

  nav {
    @extend .flexRow;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;

    ul {
      @include reset-list;
      width: auto;
      position: relative;
      display: none;

      @include lg {
        display: block;
      }

      li {
        margin: 0;
        display: block;
        padding: 0 1rem;

        @include md {
          display: inline;
          padding: 0 2.5rem;
        }

        a {
          color: $lightBlue;
          font-family: $mons;
          font-size: 1.4rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.64px;
          cursor: pointer;
          position: relative;

          &:after {
            @include pseudo;
            height: 2px;
            width: 0%;
            bottom: -3px;
            right: 0;
            @include leftRightGradient(#2472b8, #00aadd);
            transition: 0.3s ease;
          }
        }

        &:hover {
          a {
            &:after {
              opacity: 1;
              width: 100%;
              right: auto;
              left: 0;
            }
          }
        }
      }
    }
  }
}

.navItemActive {
  &:after {
    @include pseudo;
    min-width: 100%;
    right: auto;
    opacity: 1;
    left: 0;
  }
}

.menuActive {
  padding-right: 8px;

  svg {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.12));
  }

  .header__iso {
    display: none;
  }
}

.hiddenMenu {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  background-color: white;
  height: 100vh;
  transform: translate(100%, 0);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 52, 97, 0.18);
  z-index: -1;
  width: 100%;
  display: flex;
  align-items: center;

  @include md {
    width: 100%;
  }

  &--active {
    transform: translate(0, 0);
  }

  &__wrapper {
    padding: 50px 30px 50px 30px;
    overflow-y: scroll;
    max-height: 100%;
    width: 100%;

    @include md {
      padding: 50px 50px 50px 50px;
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 100%;
    }

    &::-webkit-scrollbar-thumb {
      background: $lightBlue;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #f8f8f8;
    }

    ul {
      @include reset-list;

      li {
        text-align: center;
        color: $lightBlue;
        padding: 5px 5px 15px 5px;

        a {
          color: $lightBlue;
          font-family: $mons;
          font-size: 1.8rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.64px;
          cursor: pointer;
        }
      }
    }
  }
}
