.timelineSection {
  padding: 0 0 5rem 0;

  h2 {
    padding: 0 0 5.3rem 0;
    @include webkitGradientText;
  }
}

.timeline {
  width: calc(100%);
  box-sizing: content-box;
  position: relative;
  margin: 0 auto;

  &__cont {
    position: relative;
    width: calc(100% - 88px);
    overflow: hidden;
    margin: 0 auto;

    & > div {
      padding: 240px 0;
      cursor: grab;
      display: block;
      width: 100%;
      position: relative;
    }
  }

  &__holder {
    width: auto;
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    white-space: nowrap;
  }

  &__arrow {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 100;

    &--left {
      left: 0;
      border-top: 3px solid $blue;
      border-left: 3px solid $blue;
      transform: translate3d(0, -50%, 0) rotate(-45deg);
    }
    &--right {
      right: 0;
      border-top: 3px solid $blue;
      border-right: 3px solid $blue;
      transform: translate3d(0, -50%, 0) rotate(45deg);
    }
  }

  &__blur {
    height: 100%;
    width: 50px;
    position: absolute;
    top: 0;
    z-index: 99;

    &--left {
      left: 40px;
      background: linear-gradient(to right, white 0%, rgba(125, 185, 232, 0) 100%);
    }
    &--right {
      right: 40px;
      background: linear-gradient(to left, white 0%, rgba(125, 185, 232, 0) 100%);
    }
  }

  .point {
    width: 15px;
    height: 15px;
    background-color: #d8d8d8;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
    position: relative;

    &--blue {
      @include topBottomgradient($lightBlue, $blue);

      .year {
        color: #00aad0;
      }
    }
    &--red {
      @include topBottomgradient(#dd514d, #b33f63);

      .year {
        color: #ea6545;
      }
    }
    &--green {
      @include topBottomgradient(#3ca09b, #3eaa53);

      .year {
        color: #3eac49;
      }
    }

    &__content {
      position: absolute;

      left: 6px;

      h5 {
        color: $darkGray;
        font-size: 1.8rem;
        font-weight: 600;
        padding: 15px 0;
      }

      p {
        line-height: 1;

        &:nth-of-type(1) {
          color: $darkGray;
          font-size: 1.4rem;
          font-weight: 400;
          margin-bottom: 5px;
        }

        &:nth-of-type(2) {
          color: $darkGray;
          font-size: 1.4rem;
          font-weight: 400;
        }
        &:nth-of-type(3) {
          font-size: 1.6rem;
          font-weight: 400;
        }
      }

      img {
        position: absolute;
        left: -24px;
        width: 50px;
        height: auto;
      }

      &:before {
        @include pseudo;
        left: 0;
        height: 100%;
        width: 2px;
        background-color: #d8d8d8;
        top: 0;
      }

      &--top {
        padding: 46px 18px 18px 18px;
        top: 20px;

        &:after {
        }

        img {
          bottom: -59px;
        }
      }
      &--bottom {
        padding: 18px 18px 46px 18px;
        bottom: 20px;

        &:after {
        }

        img {
          top: -59px;
        }
      }
    }
  }
}
