.info-boxes {
  padding-bottom: 36px;

  h3 { @include webkitGradientText; }
  h5 {
    color: white;
    text-align: left;
    line-height: 1.35;
    padding: 0 0 25px 0;
  }

  &__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    &__element {
      width: 100%;
      height: 100%;
      display: table;
      min-height: 400px;
      max-height: 400px;
      position: relative;
      background-size: cover;
      box-shadow: 0 0 25px rgba(0, 52, 97, 0.18);

      &__content {
        width: 90%;
        display: table-cell;
        padding: 0 0 35px 35px;
        vertical-align: bottom;
        position: relative;
        z-index: 300;
      }

      &--colorGradient {
        position: absolute;
        z-index: 200;
        width: 100%;
        height: 100%;
        left: 0;
      }
    }
  }

  @include max-lg {
    &__list {
      &__element {
        min-height: 300px;
      }
    }
  } 
  
  @media (max-width: 900px) {
    h5 { 
      font-size: 1.8rem;
      padding-bottom: 20px;
    }
    button {
      width: 100%;
      font-size: 1.4rem;
      padding: 7px 35px;
    }

    &__list {
      &__element {
        &__content { padding: 20px; }
      }
    }
  }

  @include max-md {
    h3 { padding-top: 30px; }

    &__list {
      grid-template-columns: repeat(1, 1fr);

      &__element {
        height: 100%;
        min-height: 280px;
        background-size: cover;
        
        &__content { padding-left: 25px; }
      }  
    }
  }
}