.info-boxes {
  z-index: 1;
  position: relative;
  padding: 5rem 0 2.5rem 0;
  
  @include max-md {
    padding: 2.5rem 0 0 0;
  }

  h3 {
    padding-top: 0;
    @include webkitGradientText;
  }

  h5 {
    color: white;
    text-align: left;
    line-height: 1.35;
    padding: 0 0 2.5rem 0;
  }

  a, button {
    text-align: center;
  }

  &__list {
    justify-content: space-between;

    &__element {
      width: 100%;
      display: table;
      min-height: 350px;
      max-height: 400px;
      position: relative;
      margin-bottom: 2.5rem;
      background-size: cover;
      box-shadow: 0 0 25px rgba(0, 52, 97, 0.18);

      &__content {
        width: 90%;
        display: table-cell;
        padding: 0 0 2.5rem 2.5rem;
        vertical-align: bottom;
        position: relative;
        z-index: 300;
      }

      &--colorGradient {
        position: absolute;
        z-index: 200;
        width: 100%;
        height: 100%;
        left: 0;
      }
    }
  }

  @include max-lg {
    &__list {
      &__element {
        min-height: 300px;
      }
    }
  }

  @media (max-width: 900px) {
    h5 {
      font-size: 1.8rem;
      padding-bottom: 2rem;
    }
    
    button {
      width: 100%;
      font-size: 1.4rem;
      padding: 1rem 3.5rem;
    }

    &__list {
      &__element {
        &__content {
          padding: 2rem;
        }
      }
    }
  }

  @include max-md {
    &__list {
      &__element {
        min-height: 280px;
        background-size: cover;

        &__content {
          padding-left: 2.5rem;
        }
      }
    }
  }
}