.textBlock {
  &__container {
    h2 {
      @include webkitGradientText;
    }

    &__text {
      padding-bottom: 40px;
      color: #3c3c3b;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 30.75px;
      font-weight: 400;
      text-align: center;
    }
  }
}
