.textBlock {
  padding: 3.9rem 0 3.9rem 0;

  @include md {
    padding: 6rem 0 5.7rem 0;
  }

  &__container {
    h3 {
      padding: 0 0 5.4rem;
    }

    &__text {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 30px;

      color: $darkGray;

      @include md {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 34px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.8px;
      }
    }
  }
}
