.textBlock {
  padding: 40px 0 25px;

  @include md {
    padding: 52px 0;
  }

  &__container {
    h2 {
      @include webkitGradientText;
    }

    &__text {
      color: #3c3c3b;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 30.75px;
      font-weight: 400;
      text-align: center;
    }
  }
}
