.textBlock {
  padding-bottom: 5rem;

  &__container {
    &__text {
      color: $darkGray;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 30.75px;
      font-weight: 400;
      text-align: center;
    }
  }
}
