.jobOffers {
  h3 {
    @include webkitGradientText;
  }
}

.offers {
  grid-gap: 20px;
  margin-bottom: 50px;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;  
  
  & > * { align-self: center; }
  
  p { color: $darkGray; }

  &__element {
    height: 160px;
    padding: 0 10px;
    text-align: center;
    position: relative;
    background-color: #f4f5f7;
    box-sizing: border-box;
    transition: 300ms ease;

    div {
      width: 100%;
      display: grid;
      min-height: 100%;
      background-repeat: no-repeat;
      background-position: 50px center;
      background-size: 85px auto;
    }

    p {
      font-size: 2.4rem;
      font-weight: 400;
      letter-spacing: 3px;
      text-transform: uppercase;
      align-self: center;
    }

    &:after {
      @include pseudo;
      height: 6px;
      width: 0;
      transition: 300ms ease;
      @include leftRightGradient(#2472b8, #00aadd);
      right: 0;
      bottom: 0;
    }

    @include md {
      &:hover {
        transform: translateY(-3px);

        &:after {
          width: 100%;
          right: auto;
          left: 0;
        }
      }
    }
  }

  @include max-xl {
    p { font-size: 2.2rem; }
  }

  @include max-lg {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    &__element { height: 120px; }
  }

  @include max-sm {
    p { 
      font-size: 1.6rem;
      letter-spacing: 1px;
    }

    &__element {
      height: 75px;
      div { background-size: 50px auto; }
    }
  }

  @include max-xs {
    &__element {
      div { background-position-x: 15px; }
    }
  }
}
