.contact-info {
  width: 100%;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 25px rgba(0, 52, 97, 0.18);

  p {
    font-size: 1.6rem;
  }

  &__grid {
    padding: 5rem 0 2.5rem 0;
    
    @include max-md {
      padding: 2.5rem 0 0 0;
    }

    .col-12, .col-md-3 {
      align-self: flex-start;
    }

    &__element {
      margin-bottom: 2.5rem;
      position: relative;
      padding-bottom: 55px; 

      &__content {
        position: absolute;
        left: 0;
        width: 100%;
        cursor: pointer;
        max-height: 55px;
        overflow: hidden;
        background-color: white;
        transition: max-height .2s ease-out;
       
        &:focus, 
        &:hover {
          max-height: 600px;
          border-bottom: 1px solid #e6e6e6;
          position: absolute;
          overflow: unset;
          text-align: center;
        }
      }
      
      img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        object-fit: contain;
        margin-bottom: 2.5rem;

        @include md {
          width: auto;
          height: auto;
        }
      }

      a {
        transition: $customEase;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 auto;
        display: block;
        width: 95%;

        &:hover {
          overflow: unset;
          color: $lightBlue;
        }
      }
    }
  }
}