.doctorScheduleSection {
  padding: 50px 0;
}

.doctorSchedule {
  width: 100%;

  &__title {
    border-bottom: 1px solid #cecece;

    h4 {
      text-align: center;
      padding: 24px 0;

      @include md {
        padding: 24px 0;
        text-align: left;
      }
    }
  }

  .mobileHeading {
    border-bottom: 0;

    & > td {
      display: table-cell !important;
      padding: 10px 0 10px;
      text-align: center;
      color: $lightBlue;
      font-weight: 600;
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    @include lg {
      display: none;
    }
  }

  table {
    width: 100%;
    overflow: hidden;

    @include md {
      table-layout: fixed;
    }

    @include lg {
      // table-layout: auto;
    }

    & > p {
      width: 100%;
      text-align: center;

      @include lg {
        display: none;
      }
    }
    .normalRow {
      &:not(:last-of-type) {
        border-bottom: 1px solid #cecece;
      }

      .circleCell {
        display: none;

        @include md {
          display: table-cell;
          width: 50px !important;
        }
      }

      td {
        padding: 15px;
        vertical-align: top;
        text-align: center;
        display: inline-block;
        width: 50%;
        line-height: 1;

        @include md {
          width: auto;
          display: table-cell;
        }

        @include lg {
          padding: 25px 15px;
          text-align: left;
        }

        @include xl {
          white-space: nowrap;
        }

        &:last-of-type {
          @include lg {
            padding: 15px 15px 15px 25px;
          }
        }

        &:first-of-type {
          padding: 15px 0 15px 0;

          @include xl {
            padding: 15px 15px 15px 0;
            width: 9%;
          }
        }

        &:nth-of-type(3),
        &:nth-of-type(5),
        &:nth-of-type(7) {
          vertical-align: middle;
          padding: 6px 0 17px;
          // width: 50px;

          @include lg {
            width: auto;
            padding: 0;
          }
        }

        &:first-of-type {
          color: $lightBlue;
          text-transform: uppercase;
          font-size: 1.4rem;
          font-weight: 600;
          display: none;

          @include lg {
            display: table-cell;
            font-size: 1.8rem;
          }
        }

        p {
          color: $darkGray;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1;

          @include lg {
            font-size: 1.8rem;
          }

          &:nth-of-type(1) {
            text-align: center;
            white-space: nowrap;
          }

          &:nth-of-type(2) {
            font-size: 1.4rem;

            @include md {
              font-size: 1.6rem;
              text-align: center;
            }
          }

          & + p {
            margin-top: 10px;
          }
        }

        .dividerCircles {
          margin: 0 0px;

          & > div {
            width: 7px;
            height: 7px;

            &:before,
            &:after {
              width: 7px;
              height: 7px;
            }

            &:before {
              left: -13px;
            }
            &:after {
              right: -13px;
            }
          }
        }
      }
    }
  }
}

.doctorSchedule + .doctorSchedule {
  margin-top: 24px;

  @include md {
    margin-top: 50px;
  }
}

.doctorSchedule + .absences {
  margin-top: 24px;

  @include md {
    margin-top: 50px;
  }
}

.absences {
  width: 100%;

  h4 {
    text-align: center;
    padding: 24px 0;

    @include md {
      padding: 24px 0;
      text-align: left;
    }
  }

  table {
    width: 100%;

    td {
      padding: 10px;

      @include lg {
        padding: 15px 15px 15px 15px;
      }
    }

    thead {
      tr {
        border-bottom: 1px solid #cecece;
        color: $lightBlue;
        font-weight: 600;
        font-size: 1.6rem;
        text-transform: uppercase;
        display: none;

        @include sm {
          display: table-row;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #cecece;
        margin-bottom: 24px;
        display: block;

        td {
          font-size: 1.4rem;
          display: block;
          padding-left: 50%;
          position: relative;
          min-height: 40px;
          text-align: center;

          &:nth-of-type(1):before {
            content: 'Od';
          }
          &:nth-of-type(2):before {
            content: 'Do';
          }
          &:nth-of-type(3):before {
            content: 'Alternative';
          }

          &:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            color: $lightBlue;
            font-weight: 600;
            font-size: 1.4rem;
            text-align: center;
            text-transform: uppercase;
          }

          &:nth-last-of-type(1),
          &:nth-last-of-type(2) {
            white-space: nowrap;
          }

          @include sm {
            display: table-cell;
            padding-left: 15px;
            padding-right: 15px;
            position: relative;
            margin-bottom: 0px;
            min-height: auto;
            text-align: left;

            &:before {
              display: none;
            }
          }

          @include md {
            font-size: 1.6rem;
          }

          a {
            color: $lightBlue;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        @include sm {
          display: table-row;
          margin-bottom: 0;
        }
      }
    }
  }
}
