.doctorScheduleSection {
  padding: 50px 0;
}

.doctorSchedule {
  width: 100%;

  &__title {
    border-bottom: 1px solid #cecece;

    h4 {
      text-align: center;
      padding: 24px 0;

      @include md {
        padding: 24px 0;
        text-align: left;
      }
    }
  }

  .mobileHeading {
    border-bottom: 0;

    & > td {
      display: table-cell !important;
      padding: 10px 0 10px;
      text-align: center;
      color: $lightBlue;
      font-weight: 600;
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    @include lg {
      display: none;
    }
  }

  table {
    width: 100%;
    overflow: hidden;

    @include sm {
      table-layout: fixed;
    }

    @include lg {
      // table-layout: auto;
    }

    & > p {
      width: 100%;
      text-align: center;

      @include lg {
        display: none;
      }
    }
    .normalRow {
      &:not(:last-of-type) {
        border-bottom: 1px solid #cecece;
      }

      .circleCell {
        display: none;
        @include sm {
          display: table-cell;
        }
      }

      td {
        padding: 0px 0 15px;
        vertical-align: top;
        text-align: center;
        display: inline-block;
        width: 50%;
        line-height: 1;

        @include sm {
          width: auto;
          display: table-cell;
        }

        @include lg {
          padding: 18px 25px;
          text-align: left;
        }

        @include xl {
          white-space: nowrap;
        }

        &:last-of-type {
          @include lg {
            padding: 15px 15px 15px 25px;
          }
        }

        &:first-of-type {
          padding: 0 0 15px 0;

          @include xl {
            padding: 15px 50px 15px 0;
          }
        }

        &:nth-of-type(3),
        &:nth-of-type(5),
        &:nth-of-type(7) {
          vertical-align: middle;
          padding: 6px 0 17px;
          // width: 50px;

          @include lg {
            width: auto;
            padding: 0;
          }
        }

        &:first-of-type {
          color: $lightBlue;
          text-transform: uppercase;
          font-size: 1.4rem;
          font-weight: 600;
          display: none;

          @include lg {
            display: table-cell;
            font-size: 2rem;
          }
        }

        p {
          color: $darkGray;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1;

          @include lg {
            font-size: 2rem;
          }

          &:nth-of-type(1) {
            text-align: center;
          }

          &:nth-of-type(2) {
            font-size: 1.4rem;

            @include md {
              font-size: 1.6rem;
            }
          }

          & + p {
            margin-top: 10px;
          }
        }

        .dividerCircles {
          margin: 0 0px;
        }
      }
    }
  }
}

.doctorSchedule + .doctorSchedule {
  margin-top: 24px;

  @include md {
    margin-top: 50px;
  }
}
