.mapBox {
  background-color: #fff;
  display: block;
  position: absolute;
  box-shadow: 0 0 30px rgba(27, 97, 160, 0.3);
  z-index: 199;
  width: 100%;
  right: 0;
  @include vertical-center;
  max-width: 400px;

  @include md {
    right: 100px;
    width: 400px;
  }

  .mapBox__close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    transition: 300ms ease;

    svg {
      fill: white;
      transition: 300ms ease;
    }

    &--white {
      svg {
        fill: black;
        transition: 300ms ease;
      }

      &:hover {
        svg {
          fill: black !important;
          transition: 300ms ease;
        }
      }
    }

    &:hover {
      svg {
        fill: white;
      }
    }
  }

  .pcTitle {
    border: none;
    padding: 20px;

    img {
      width: 65px;
    }

    h3 {
      font-size: 2.6rem;
      text-align: left;
      line-height: 1.2;
    }

    .pcTitle__title__subtitle {
      font-size: 1.3rem;
    }
  }

  &__contacts {
    padding: 0 20px 20px;
    @extend .flexRow;
    justify-content: space-between;

    &__item {
      @extend .flexRow;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin-bottom: 15px;

      img {
        width: 23px;
        height: auto;
      }

      & > div {
        box-sizing: border-box;
        padding: 0 0 0 10px;

        p {
          color: $darkGray;
          font-size: 1.4rem;
          font-weight: 400;
          letter-spacing: 0.56px;
          line-height: 1.2;

          @include md {
            font-size: 1.6rem;
            letter-spacing: 0.71px;
          }
        }
      }
    }
  }

  &__buttons {
    padding: 0 20px 20px;
    @extend .flexRow;
    flex-wrap: nowrap;
    justify-content: space-between;

    button + button {
      margin-left: 2px;

      span {
        display: none !important;
      }

      @media screen and (min-width: 400px) {
        margin-left: 0;

        span {
          display: block;
        }
      }
    }

    button {
      margin-top: 0;
      padding: 13px 13px;
      font-size: 1.2rem;

      @media screen and (min-width: 400px) {
        padding: 13px 22px;
        min-width: 170px;
      }
    }
  }
}
