.my-masonry-grid {
  display: -webkit-box; // Not needed if autoprefixing
  display: -ms-flexbox; // Not needed if autoprefixing
  display: flex;
  margin-left: -20px; // gutter size offset
}

.my-masonry-grid_column {
  border-left: 20px solid transparent; // gutter size
  background-clip: padding-box;
}

.blog {
  padding: 5rem 0 0 0;
  
  @include max-md {
    padding: 2.5rem 0 0 0;
  }

  .searchBar {
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;

    @include max-md {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  h1 {
    @include webkitGradientText;
    line-height: 1.5;
    padding: 0 0 2.5rem 0;

    @include md {
      padding: 0 0 5rem 0;
    }
  }

  &__btnHolder {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }

  &__blur {
    display: block;
    width: 100%;
    position: relative;
    height: 50px;
    z-index: 200;

    div {
      background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, white 100%);
      height: 99px;
      z-index: 200;
      transform: translateY(-130%);
      position: absolute;
      left: 0;
      width: 100%;
    }
  }
}

.blogCard {
  box-sizing: border-box;
  padding: 35px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: none;
  margin-bottom: 20px;
  overflow: hidden;
  height: 300px;

  @include md {
    height: 400px;

    &:hover {
      .blogCard__colorGradient {
        height: 200%;
      }
    }
  }

  &__colorGradient {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: 300ms ease;
  }

  h3 {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 0.89px;
    text-align: left;
    padding: 0;
    width: 100%;
    padding-bottom: 0px;
    z-index: 100;

    @include md {
      font-size: 2rem;
      padding-bottom: 17px;
    }
  }

  p {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.89px;
    z-index: 100;

    @include md {
      letter-spacing: 0.71px;
      line-height: 23.43px;
      font-size: 1.6rem;
    }
  }

  .mediaRatio {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  &--special {
    height: auto;
    transition: 300ms ease;
    background-color: $lightBlue;

    @include md {
      height: auto;

      &:hover {
        background-color: $blue;
      }
    }

    h3 {
      padding-bottom: 5px;
    }

    ol {
      color: white;
      padding-left: 20px;
      line-height: initial;
    }

    a {
      transition: .3s ease-in-out;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    ul {
      @include reset-list;

      li {
        color: #fff;
        padding: 0 .5rem 0 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.89px;
        position: relative;

        @include md {
          letter-spacing: 0.71px;
          line-height: 23.43px;
          font-size: 1.6rem;
        }

        &:before {
          background-color: white;
          position: absolute;
          display: block;
          content: '';
          color: white;
          height: 8px;
          width: 8px;
          top: 1.1rem;
          left: 0;
        }
      }
    }
  }
}