.info-rectangles {
  padding-bottom: 0rem;
  
  @include md {
    padding-bottom: 2rem;
  }

  .col-sm-12,
  .col-md-6 {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__item {
    height: 270px;
    width: 100%;
    display: table;
    padding: 2.5rem;
    font-weight: 600;
    background-size: cover;
    background-clip: border-box;
    box-shadow: 0 0 10px rgba(15, 52, 86, 0.2);

    @include md {
      padding: 2.2rem;
    }
    
    div {
      display: table-cell;
      vertical-align: bottom;
    }

    button,
    a {
      display: inline-block;

      @include max-xs {
        font-size: 1.4rem;
        line-height: 1;
        display: block;
        text-align: center;
      }
    }

    h5 {
      padding: 0;
      line-height: 1.2;
      text-align: left;
      color: $lightBlue;
      font-weight: 500;
      padding-bottom: 3rem;
    }
  }
}