.policlinicInfo {
  @extend .flexRow;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin-bottom:50px;

  &__item {
    max-width: 100%;
    height: 65px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 45px;
    display: table;

    &:not(:last-of-type) {
      margin-right: 50px;
    }

    p {
      display: table-cell;
      vertical-align: middle;
      line-height: 20px;
      margin: 0;
      padding: 0;
      padding-left: 75px;
      font-size: 1.8rem;
    }
  }

  @include max-sm {
    justify-content: flex-start;
    padding: 0 20%;

    &__item { 
      margin-bottom: 20px;
      background-size: 35px auto;

      p { font-size: 1.6rem; }
    }
  }

  @include max-xs {
    padding: 0 10%;
  }
}
