.policlinicInfo {
  padding: 5rem 0;
  @include max-md {
    padding: 2.5rem 0;
  }

  &__list {
    max-width: 940px;
    margin: 0 auto;
  }

  &__item {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;

    @include max-lg {
      padding-bottom: 2rem;
    }

    a {
      &:hover {
        color: $lightBlue;
      }
    }

    &--content {
      width: 100%;
      padding-left: 3rem;
      display: table-cell;
      vertical-align: middle;
      position: relative;
    }

    & > img, .mediaRatio {
      min-width: 35px;
      min-height: 35px;
      width: 35px;
      height: 35px;
      float: left;

      @include lg {
        min-width: 35px;
        min-height: 35px;
        width: 50px;
        height: 50px;
        float: right;
      }
    }

    .mediaRatio {
      padding-top: 0 !important;

      img {
        object-fit: contain;
      }
    }

    p {
      font-size: 1.8rem;
      line-height: 2rem;

      @include max-md {
        font-size: 1.6rem;
        line-height: 24px;
      }
    }
  }
}
