.policlinicInfo {
  @extend .flexRow;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin-bottom:50px;

  &__item {
    width: 270px;
    height: 65px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 45px;
    display: table;

    &:not(:last-of-type) {
      margin-right: 50px;
    }

    p {
      display: table-cell;
      vertical-align: middle;
      line-height: 20px;
      margin: 0;
      padding: 0;
      padding-left: 75px;
      font-size: 1.8rem;
    }
  }
}
