.marker {
  position: absolute;
  transform: rotate(0deg);
  z-index: 7;
  // background-color: red;
  transform-origin: left top;
  transform: rotate(-135deg);
  cursor: pointer;

  &.big {
    width: 65px;
    height: 64px;

    &:after {   
      width: 25px;
      height: 25px;
      margin: 0;
      top: 20px;
      left: 20px;
    }

    &:before {
      width: 64px;
      height: 64px;
      top: -64px;
    }
  }

  &.small {
    height: 30px;
    width: 30px;

    &:after {
      width: 14px;
      height: 14px;
      top: 9px;
      left: 8px;
    }
    &:before {
      width: 30px;
      height: 30px;
      top: -30px;
    }
  }

  &:after {
    content: '';
    background: #fff;
    position: absolute;
    border-radius: 50%;
    backface-visibility: hidden;
    z-index: 20;
  }

  &:before {
    content: '';
    @include topBottomgradient(#01a6ce, #2083c1);
    position: absolute;
    border-radius: 50% 50% 50% 0;
    backface-visibility: hidden;
    transform-origin: left bottom;
    transform: rotate(90deg);
  }
}

.geoLocationMarker {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: relative;
  @include leftRightGradient($blue, $lightBlue);
  z-index: 2;
  left: -5px;
  top: -5px;
  transform-origin: left bottom;

  &:after,
  &:before {
    @include pseudo();
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0);
    background-color: transparentize($lightBlue, 0.65);
    border: 2px solid ($lightBlue, 0.4);
  }

  &:after {
    animation: pulse 1.3s ease-in-out infinite normal forwards;
  }

  &:before {
    animation: pulse 1.3s 350ms ease-in-out infinite normal forwards;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(1.5);
  }
}
