.marker {
  border-radius: 50%;
  @include topBottomgradient(#01a6ce, #2083c1);
  position: absolute;
  transform: rotate(0deg);
  margin: -20px 0 0 0;
  z-index: 7;
  left: -9px;
  top: -16px;

  &.big {
    width: 64px;
    height: 64px;

    &:after {
      width: 25px;
      height: 25px;
      margin: 19px 0 0 19px;
    }

    &:before {
      width: 64px;
      height: 64px;
    }
  }

  &.small {
    height: 27px;
    width: 27px;
  }

  &:after {
    content: '';
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    backface-visibility: hidden;
    z-index: 20;
  }

  &:before {
    content: '';
    width: 30px;
    height: 30px;
    @include topBottomgradient(#01a6ce, #2083c1);
    position: absolute;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg) translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
}

.geoLocationMarker {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: relative;
  @include leftRightGradient($blue, $lightBlue);
  z-index: 2;

  &:after,
  &:before {
    @include pseudo();
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0);
    background-color: transparentize($lightBlue, 0.65);
    border: 2px solid ($lightBlue, 0.4);
  }

  &:after {
    animation: pulse 1.3s ease-in-out infinite normal forwards;
  }

  &:before {
    animation: pulse 1.3s 350ms ease-in-out infinite normal forwards;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(1.5);
  }
}
