.helpPopup {
  bottom: 0px;
  position: fixed;
  box-shadow: 0 0 13px rgba(0, 52, 97, 0.18);
  z-index: 200;
  width: 100%;
  transform: translateX(-50%);
  left: 50%;

  @include md {
    right: 0;
    left: auto;
    width: auto;
    bottom: 0;
    transform: translateX(0%);
  }

  &--active {
    .helpPopup__main {
      transition: 300ms ease;
      background-size: 0px;

      h4 {
        &:after {
          transform: rotate(45deg);
        }
      }
    }

    .helpPopup__list {
      height: auto;
      max-height: 500px;
    }
  }

  &__main {
    cursor: pointer;
    padding: 18px 50px 18px 65px;
    background-color: white;
    background-position: 25px center;
    background-repeat: no-repeat;
    background-size: 31px;
    @include max-md { padding-right: 40px; }

    h4 {
      padding: 0;
      line-height: 1.2;
      text-align: left;
      font-size: 1.6rem;
      @include webkitGradientText;
      @include max-sm { font-size: 1.5rem; }

      &:after {
        @include pseudo;
        top: 25px;
        width: 10px;
        height: 10px;
        right: 25px;
        border-right: 2px solid $blue;
        border-bottom: 2px solid $blue;
        transform: rotate(-135deg);
      }

      @include md { text-align: center; }
    }
  }

  &__list {
    background-color: white;
    @include reset-list;
    max-height: 0;
    transition: 400ms max-height ease-in-out;
    overflow: hidden;
    margin-bottom: 0px;

    li {
      margin: 0 0 6px 0;
      background-color: #e8ecef;
      padding: 18px 45px 18px 67px;
      background-position: 25px center;
      background-repeat: no-repeat;
      background-size: 30px;

      p {
        line-height: 1;
        font-size: 1.8rem;
      }

      a {
        color: black;
        font-weight: 600;
        font-size: 1.8rem;
      }
    }
  }
}
