.care {
  h4 {
    @include webkitGradientText();
    line-height: 3rem;
    word-break: unset;
  }

  a {
    word-break: unset;
  }

  div {
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    border-left: 4px solid;
    border-image: linear-gradient(to bottom, $lightBlue 0%, $blue 100%);
    border-image-slice: 1;
    border-bottom: 0px transparent;
    border-top: 0px transparent;
    border-right: 0px transparent;

    @include md {
      width: 80%;
      padding-left: 70px;
      border-left: 7px solid;
    }
  }
  p {
    margin: 24px 0;

    &:last-of-type() {
      margin-bottom: 0;
    }

    @include md {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0.8px;
    }
  }

  ul {
    word-break: break-all;

    p {
      margin: 0;
      font-size: 1.6rem;
      line-height: inherit;
    }
  }

  &--hidden {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        padding-top: 0;
      }
    }
  }
}

.examination {
  height: 100%;
  width: 100%;

  &__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 100%;
    margin: 0 auto;
    width: 100%;

    @include md {
      width: 80%;
    }

    &__item {
      width: 100%;
      height: 100%;
      background-color: #f4f5f7;
      text-align: center;
      padding: 30px 26px;
      font-size: 1.8rem;
      line-height: 28px;
      letter-spacing: initial;
      font-weight: 400;
      display: grid;
      align-items: center;

      @include md {
        padding: 50px;
      }

      p {
        width: 100%;
      }

      &--markdown {
        ul {
          text-align: left;
        }
      }

      &--last-long {
        grid-column-start: span 2;

        @include max-md {
          grid-column-start: initial;
        }
      }

      @include md {
        font-size: 2.2rem;
        line-height: 34px;
        letter-spacing: 1px;
        @include blockAnimation();
      }
    }

    @include max-md {
      grid-template-columns: 1fr;
    }
  }
}

.info {
  margin-bottom: 24px;

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  h5 {
    text-align: left;
    color: white;
    padding: 0;
  }

  &__element {
    height: 270px;
    width: 100%;
    display: table;
    box-shadow: 0 0 10px rgba(15, 52, 86, 0.2);
    position: relative;
    background-size: cover;

    &--cell {
      z-index: 3;
      display: table-cell;
      vertical-align: bottom;
      margin-bottom: 30px;
      padding-bottom: 35px;
      position: relative;

      h5 {
        font-weight: 400;
        @include max-sm { margin-left: 15px !important; }
      }

      div {
        position: relative;
        max-width: 260px;
        margin-left: 35px;
        @include max-sm { margin-left: 15px; }

        a,
        button {
          width: 100%;
          margin: 0;
        }
      }
    }

    &--colorGradient {
      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to bottom, transparent 0%, $blue 100%);
      opacity: 0.6;
    }

    h5,
    button { margin-left: 35px; }

    h5 { padding-bottom: 35px; }
  }

  @include max-md {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
