.highlight {
  background-image: linear-gradient(to right, #2472b8 0%, $lightBlue 100%),
    linear-gradient(to right, #2472b8 0%, #00aadd 100%);
  background-repeat: no-repeat;
  background-position: 0 0, 0 100%;
  padding: 25px 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include md {
      flex-wrap: nowrap;
    }

    img {
      width: 46px;
      height: 46px;

      @include md {
        width: 53px;
        height: 53px;
        margin-right: 29px;
      }
    }

    & > div {
      width: 100%;
      margin: 24px 0;

      @include md {
        width: auto;
        margin: 0;
      }
    }

    p {
      color: #ffffff;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0.64px;
      letter-spacing: 0.64px;
      width: 85%;
      margin: 0 auto;
      text-align: center;

      @include md {
        width: auto;
        color: #ffffff;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 28.83px;
        letter-spacing: 1.07px;
        letter-spacing: 1.07px;
      }
    }

    .highlight__content--description {
      p {
        color: white;
        font-size: 1.6rem;
        text-align: center;
        font-weight: initial;
        letter-spacing: initial;
        word-break: break-word;
        line-height: 2rem;
        padding-top: 15px;
      }
    }

    .btn {
      @include md {
        margin-left: 89px;
      }
    }
  }
}
