.highlight {
  background-image: linear-gradient(to right, #2472b8 0%, $lightBlue 100%),
    linear-gradient(to right, #2472b8 0%, #00aadd 100%);
  background-repeat: no-repeat;
  background-position: 0 0, 0 100%;
  padding: 25px 0;

  p {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    word-break: break-word;

    @media (max-width: 1100px) {
      font-size: 2.2rem;
    }

    @media (max-width: 1050px) {
      font-size: 2rem;
    }

    @include max-md {
      font-size: 1.6rem;
    }
  }

  &__content {
    max-width: 90%;
    margin: 0 auto;
    grid-template-columns: 55px 3fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;

    @include max-lg {
      max-width: 100%;
      grid-template-columns: 1fr;
    }

    &--description {
      p {
        color: white;
        font-size: 1.6rem;
        text-align: center;
        font-weight: initial;
        letter-spacing: initial;
        word-break: break-word;
        line-height: 2rem;
        padding-top: 15px;
      }
    }
  }
}
