.actual-positions {
  padding-bottom: 3.5rem;

  h3 {
    @include webkitGradientText;
    padding-bottom: 3rem;
  }
}

.positions {  
  .col-sm-12, 
  .col-md-6,
  .col-lg-4 {
    margin-bottom: 3rem;
  }

  p {
    color: white;
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 1px;
    padding-bottom: 20px;
  }

  .btn {
    text-align: center;
    @include md {
      text-align: left;
      display: inline-block;
    }
  }

  &__colorGradient {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    transform: translateX(-100%);
    opacity: 0.5;
  }

  &__element-content {
    display: table-cell;
    vertical-align: bottom;
    padding: 3.5rem;
    position: relative;
    z-index: 2;

    @include max-md {
      padding: 2rem;

      p {
        font-size: 1.8rem;
        padding-bottom: 1.5rem;
      }
      button {
        font-size: 1.4rem;
        padding: 7px 35px;
      }
    }
  }

  &__element {
    width: 100%;
    height: 295px;
    display: table;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.select-btn {
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
  width: 265px;
  font-size: 1.6rem;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Montserrat';
  text-transform: uppercase;
  background-color: #f4f5f7;
  position: relative;
  margin-bottom: 3rem;

  @include max-md { width: 100%; }

  &:hover {
    .arrow { top: 26px; }
  }

  select {      
    width: 100%;
    border: none;
    padding: 15px 35px;
    box-shadow: none;
    font-size: 1.8rem;
    color: #3c3c3b;
    border: none;
    background-color: #f4f5f7;
    background-image: none;
    -webkit-appearance: none;
      -moz-appearance: none;
            appearance: none;

    &:focus { outline: none; }
  }

  .arrow {
    content: '';
    padding: 3px;
    border: solid $lightBlue;
    display: inline-block;
    position: absolute;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: 230ms ease;
    right: 20px;
    top: 23px;
  }
}