@import './components/MapBox/style.scss';
@import './components/Marker/style.scss';

.map {
  height: 300px;
  width: 100%;
  display: block;
  position: relative;

  @include md {
    height: 509px;
  }

  &__container {
    max-width: 1240px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 199;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    @include md {
      text-align: left;
    }

    button {
      color: $lightBlue;
      font-size: 1.4rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2.18px;
      background-color: white;
      padding: 11px 24px;
      box-shadow: 0 0 30px rgba(27, 97, 160, 0.3);
      margin: 21px auto 0 auto;

      @include md {
        margin-top: 21px;
      }
    }
  }
}
