.expertiseList {
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: auto;

    @include md {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @include lg {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      width: 90%;
    }

    @include xl {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      width: 100%;
    }
  }

  h3 {
    padding: 0;
    margin: 38px 0;
    @include webkitGradientText;

    @include md {
      margin: 70px 0 50px;
    }
  }

  button {
    margin: 30px auto;

    @include md {
      min-width: 230px;
      letter-spacing: 2.49px;
      margin: 30px auto 55px;
    }
  }

  &__element {
    display: flex;
    width: 100%;
    padding: 20px 0;
    background-color: #f4f5f7;
    align-items: center;
    cursor: pointer;
    transition: 300ms ease;
    overflow: auto;
    height: 100%;

    .mediaRatio {
      padding-top: 0 !important;
      margin-left: 24px;
      width: 60px;
      height: 60px;
    }

    p {
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 600;
      margin: 0 24px;
      width: 100%;
      text-align: left;
    }

    &:after {
      @include pseudo;
      height: 6px;
      width: 0;
      transition: 300ms ease;
      @include leftRightGradient(#2472b8, #00aadd);
      right: 0;
      bottom: 0;
    }
  }

  @include md {
    &__element {
      &:hover {
        transform: translateY(-3px);

        &:after {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
    }
  }

  @include max-lg {
    .grid-container {
      grid-template-rows: auto;
      padding: 0 30px;
      width: 90%;
    }
    p {
      font-size: 1.6rem;
    }
  }

  @include max-md {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-gap: 8px;
      padding: 0 0;
      width: 90%;
    }
  }

  @media (max-width: 680px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
    }
  }

  @include max-sm {
    .mediaRatio {
      padding-top: 0 !important;
      margin-left: 25px;
    }
  }
}
