.expertiseList {
  @include md {
    &__element {
      &:hover {
        transform: translateY(-3px);

        &:after {
          width: 100%;
          left: 0;
          right: auto;
        }
      }
    }
  }

  @include max-lg {
    p {
      font-size: 1.6rem;
    }
  }

  @include max-sm {
    .mediaRatio {
      padding-top: 0 !important;
      margin-left: 2.5rem;
    }
  }

  h3 {
    @include webkitGradientText;
  }

  button {
    margin: 0 auto 2.5rem auto;

    @include md {
      min-width: 230px;
      letter-spacing: 2.5px;
      margin: 0 auto 5rem auto;  
    }
  }

  .col-sm-12,
  .col-lg-6,
  .col-xl-4 {
    margin-bottom: 3rem;
  }

  &__element {
    position: relative;
    display: flex;
    width: 100%;
    padding: 20px 0;
    background-color: #f4f5f7;
    align-items: center;
    cursor: pointer;
    transition: 300ms ease;
    overflow: auto;
    height: 100%;
    
    a {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    .mediaRatio {
      padding-top: 0 !important;
      margin-left: 24px;
      width: 60px;
      height: 60px;
    }

    p {
      text-transform: uppercase;
      font-size: 1.8rem;
      font-weight: 600;
      margin: 0 24px;
      width: 100%;
      text-align: left;
    }

    &:after {
      @include pseudo;
      height: 6px;
      width: 0;
      right: 0;
      bottom: 0;
      transition: 300ms ease;
      @include leftRightGradient(#2472b8, #00aadd);
    }
  }
}
