.doctorList {
  padding: 34px 0;
  box-shadow: 0 0 13px rgba(0, 52, 97, 0.18);
  margin-bottom: 30px;

  @include md {
    margin-bottom: 50px;
  }

  .container {
    & > h3 {
      @include webkitGradientText;
    }
  }

  &__wrapper {
    @extend .flexRow;
    justify-content: center;

    @include md {
      justify-content: space-between;
    }
  }

  &__item {
    @include flexChild(2, 10px);
    @extend .flexRow;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 24px;
    flex-wrap: wrap;

    &__img {
      width: 130px;
      height: 100%;
      background-color: #f4f5f7;
      max-width: 190px;
      margin: 0 auto;

      .avatar {
        display: block;
        margin: 0 auto;
        padding: 25px;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: auto;
        margin: 0 auto;
      }

      @include lg {
        margin: 0;
        width: 191px;
      }
    }

    &__info {
      @extend .flexColumn;
      padding: 17px 0;
      box-sizing: border-box;
      width: 100%;
      align-items: flex-start;

      @include md {
        padding: 17px;
      }

      h3 {
        color: $darkGray;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 0;
        text-align: center;
        width: 100%;

        @include lg {
          text-align: left;
          font-size: 2rem;
        }
      }

      p {
        color: $darkGray;
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 1rem;
        text-align: center;
        width: 100%;
        line-height: initial;

        &:nth-of-type(1) {
          margin-top: 5px;
        }

        @include lg {
          text-align: left;
          font-size: 1.8rem;
          margin-bottom: 1.2rem;
        }
      }
      &__link {
        color: $lightBlue;
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 2.8rem;

        @include lg {
          font-size: 1.8rem;
          text-align: left;
        }

        @include max-lg {
          margin: auto;
          margin-bottom: 2.8rem;
          text-align: center;
        }
      }

      @include lg {
        width: calc(100% - 190px);
      }

      button {
        margin: 0 auto;
        width: 100%;
        max-width: 240px;

        @include sm {
          width: auto;
        }

        @include lg {
          margin: 0;
        }
      }
    }
  }

  &__btnHolder {
    @extend .flexRow;
    justify-content: center;

  
  }
}
