.doctorList {
  padding: 34px 0;
  margin-bottom: 30px;
  box-shadow: 0 0 13px rgba(0, 52, 97, 0.18);

  @include md {
    margin-bottom: 5rem;
  }

  .container {
    & > h3 {
      @include webkitGradientText;
    }
  }

  &__wrapper {
    @extend .flexRow;
    justify-content: center;

    @include md {
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__item {
    @include flexChild(2, 10px);
    @extend .flexRow;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 2.4rem;
    flex-wrap: wrap;

    @include xl {
      align-items: center;
    }

    &__img {
      background-color: #f4f5f7;
      max-width: 190px;
      width: 130px;
      height: 100%;
      margin: 0 auto;

      .avatarImg {
        display: block;
        margin: 0 auto;
        padding: 25px;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: auto;
        margin: 0 auto;
      }

      @include lg {
        margin: 0;
        width: 191px;
      }
    }

    &__info {
      @extend .flexColumn;
      box-sizing: border-box;
      align-items: flex-start;
      padding: 0 1.7rem 0 1.7rem;
      width: 100%;

      @include xl {
        padding: 1.7rem 6rem 1.7rem 1.7rem;
      }

      @include lg {
        align-items: flex-start;
      }

      h3 {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 600;
        color: $darkGray;
        width: 100%;
        padding: 0;

        @include lg {
          font-size: 2rem;
          text-align: left;
        }

        @include max-lg {
          padding: 2rem 0 1rem 0;
        }
      }

      &--mobileField {
        display: block;
        position: relative;

        @include lg {
          display: none;
        }
      }

      &__description {
        position: relative;
        min-height: 48px;
        width: 100%;

        &--container {
          position: absolute;
          z-index: 101;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          overflow: hidden;
          background-color: transparent;

          p {
            position: absolute;
            top: 0;
            left: 0;
          }
        
          &:focus, 
          &:hover {
            max-height: 600px;
            overflow: unset;
            text-align: center;

            p {
              background: white;
              padding-bottom: 1rem;
              border-bottom: 1px solid #e6e6e6;
            }
          }
        }

        @include max-lg {
          display: none;
        }
      }

      p {
        width: 100%;
        color: $darkGray;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        line-height: initial;

        @include lg {
          text-align: left;
          font-size: 1.8rem;
          margin-bottom: 1.2rem;

          &:nth-of-type(1) {
            margin-top: 5px;
          }
        }
      }

      &__link {
        color: $lightBlue;
        font-size: 1.4rem;
        font-weight: 400;
        padding: 1rem 0;

        &:hover {
          color: $lightBlue;
          text-decoration: underline;
        }

        @include lg {
          font-size: 1.8rem;
          text-align: left;
        }

        @include max-lg {
          margin: auto;
          margin-bottom: 2.8rem;
          text-align: center;
        }
      }

      @include lg {
        width: calc(100% - 190px);
      }

      a {
        @include max-lg {
          margin: 0 auto;
        }
      }

      button {
        margin: 0 auto;
        width: 100%;
        max-width: 240px;

        @include sm {
          width: auto;
        }

        @include lg {
          margin: 0;
        }
      }
    }
  }

  &__btnHolder {
    @extend .flexRow;
    justify-content: center;
  }
}