.form {
  padding: 55px 0;
  box-shadow: 0 0 13px rgba(0, 52, 97, 0.18);

  h3 {
    padding: 4.8rem 0 1.5rem;
  }

  p {
    text-align: center;
  }

  form {
    .error {
      .form__input__bar {
        &:after {
          background-color: red;
          background-image: none;
        }
      }
    }

    .form__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .form__input {
      position: relative;
      margin: 0px 0 15px;

      @include md {
        margin: 40px 0;
      }

      input {
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.72px;
        color: $darkGray;
        padding: 25px 0 15px;
        width: 100%;
        z-index: 10;
        position: relative;
        background-color: transparent;

        @include md {
          font-size: 2rem;
          letter-spacing: 0.89px;
        }

        &:focus,
        &.active {
          & ~ .form__input__label {
            top: 4px;
            font-size: 1.4rem;
            letter-spacing: 0.62px;

            @include md {
              top: 0;
            }
          }

          & ~ .form__input__bar {
            &:after {
              width: 100%;
            }
          }
        }
      }

      &__label {
        position: absolute;
        top: 24px;
        left: 0;
        opacity: 0.6;
        color: $darkGray;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.89px;
        transition: 0.2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity 0.2s ease-out;
        will-change: bottom;
        line-height: 1;
        z-index: 1;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.72px;

        @include md {
          font-size: 2rem;
          letter-spacing: 0.89px;
        }
      }

      &__bar {
        height: 4px;
        width: 100%;
        background-color: #dbdbda;
        left: 0;
        position: relative;
        padding: 0;

        &:after {
          @include pseudo;
          height: 4px;
          width: 0%;
          left: 0;
          transition: 300ms ease;
          @include leftRightGradient($blue, $lightBlue);
        }
      }
    }

    .form__selectInput {
      margin: 0px 0 15px;
      @include md {
        margin: 0px 0 40px;
      }

      select {
        color: $darkGray;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.72px;
        padding: 25px 0 15px;
        width: 100%;
        z-index: 10;
        outline: none;
        border: none;
        opacity: 0.6;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        @include md {
          font-size: 2rem;
          font-weight: 400;
          letter-spacing: 0.89px;
        }

        &:-ms-expand {
          display: none; /* hide the default arrow in ie10 and ie11 */
        }

        option {
          color: $darkGray;

          &:first-of-type {
            opacity: 0.6;
          }
        }

        &:focus {
          & ~ .form__input__bar {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }

    .form__inputBtn {
      @include md {
        margin-left: 34px;
      }

      & > button {
        background-color: #f4f5f7;
        padding: 17px 22px;
        color: $darkGray;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 0.89px;
        width: 100%;
        margin-top: 15px;

        @include md {
          margin-top: 5px;
        }

        & ~ .form__input__bar {
          padding: 0;
        }

        &:hover {
          @include md {
            & ~ .form__input__bar {
              &:after {
                width: 100%;
              }
            }
          }
        }

        & > span {
          margin-left: 20px;
        }

        svg {
          width: 16px;
          height: 20px;
        }
      }
    }

    .form__textarea {
      margin-top: 34px;

      @include md {
        margin-top: 10px;
      }

      label {
        text-transform: uppercase;
        padding-bottom: 15px;
        font-weight: 400;
        font-size: 1.8rem;
        letter-spacing: 0.72px;

        @include md {
          font-size: 2rem;
          letter-spacing: 0.89px;
        }
      }

      textarea {
        background-color: #f4f5f7;
        min-height: 162px;
        width: 100%;
        box-sizing: border-box;
        padding: 25px;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.72px;

        @include md {
          font-size: 2rem;
          letter-spacing: 0.89px;
        }
      }
    }

    .form__terms {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 30px 0;
      font-size: 1.8rem;
      letter-spacing: 0.72px;
      font-weight: 400;
      flex-flow: row nowrap;
      line-height: 1;

      @include md {
        letter-spacing: 0.89px;
        font-size: 2rem;
        align-items: center;
        flex-flow: row wrap;
      }

      label {
        margin-bottom: 0;
      }

      a {
        color: $lightBlue;

        &:hover {
          text-decoration: underline;
          text-decoration-color: $blue;
        }
      }
    }
  }
}
