body {
  color: $darkGray;
  line-height: 24px;
  font-family: $mons;
  font-size: 1.6rem;
  line-height: 24px;
  padding: 0;
}

.container {
  display: block;
  margin: 0 auto;
  width: 90%;

  @include md {
    max-width: $layoutMinWidth;
  }

  @include xl {
    width: 100%;
  }
}

.fullWidthContainer {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.hCenterBlock {
  display: block;
  margin: 0 auto;
}

.flexRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  @include md {
    flex-flow: row wrap;
  }
}

.flexColumn {
  display: flex;
  flex-flow: column wrap;
}

.flexAlign {
  &--start {
    justify-content: start;
  }
  &--end {
    justify-content: end;
  }
  &--space-between {
    justify-content: space-between;
  }
  &--space-around {
    justify-content: space-around;
  }
  &--center {
    justify-content: center;
  }
}

.grid {
  display: grid;

  &--vCenterBlock {
    align-items: center;
  }
}

.grid-container {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

//LIST STYLES

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 5px;
    &:before {
      content: url('/assets/medicon/images/listPoint.png');
      padding-right: 12px;
    }
  }
}

cite {
  line-height: 44px;
  font-weight: 600;
}

.horizontal-line {
  width: 75px;
  height: 5px;
  background-image: linear-gradient(to right, #2472b8 0%, #00aadd 100%);
}