body {
  color: $dark;
  line-height: 24px;
}

.container {
  display: block;
  margin: 0 auto;
  width: 90%;

  @include md {
    max-width: $layoutMinWidth;
  }

  @include xl {
    width: 100%;
  }
}

.fullWidthContainer {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.hCenterBlock {
  display: block;
  margin: 0 auto;
}

//TEXT ALIGNMENT

.textAlign {
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
}

.flexRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  @include md {
    flex-flow: row wrap;
  }
}

.flexColumn {
  display: flex;
  flex-flow: column wrap;
}

.d-flex {
  display: flex;
  justify-content: space-around;
}
.grid {
  display: grid;
}

.grid-container {
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.inline-gird {
  display: inline-grid;
}

body {
  font-family: 'Montserrat';
  color: $dark;
  font-size: 1.6rem;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

p {
  line-height: 30px;
}

//LIST STYLES

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 5px;
    &:before {
      content: url('/assets/images/listPoint.png');
      padding-right: 12px;
    }
  }
}

cite {
  line-height: 44px;
  font-weight: 600;
}
