//INITAL STYLES
@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import 'reset';
@import 'mediaQueries';
@import 'mixins';
@import 'variables';
@import 'text';
@import 'forms';

//COMPONENTS STYLES
@import 'general';
@import '../src/components/Dummy/style.scss';
@import '../src/components/Hero/style.scss';
@import '../src/components/Header/style.scss';
@import '../src/components/SearchBar/style.scss';
@import '../src/components/CrossRoads/style.scss';
@import '../src/components/Benefits/style.scss';
@import '../src/components/Highlight/style.scss';
@import '../src/components/Footer/style.scss';
@import '../src/components/Reviews/style.scss';
@import '../src/components/TextBlock/style.scss';
@import '../src/components/InfoBoxes/style.scss';
@import '../src/components/Map/style.scss';
@import '../src/components/DoctorList/style.scss';
@import '../src/components/PolyclinicsList/style.scss';
@import '../src/components/ExpertiseList/style.scss';
@import '../src/components/InfoRectangles/style.scss';
@import '../src/components/PolyclinicInfo/style.scss';
@import '../src/components/Blog/style.scss';
@import '../src/components/PolyclinicBoxes/style.scss';
@import '../src/components/DoctorCard/style.scss';
@import '../src/components/Odbornost/style.scss';
@import '../src/components/DividerCircles/style.scss';
@import '../src/components/MyProblem/style.scss';
@import '../src/components/JobPositions/style.scss';
@import '../src/components/ViewsAboutUs/style.scss';
@import '../src/components/JobOffers/style.scss';
@import '../src/components/CareerForm/style.scss';
@import '../src/components/ExpertiseDescription/style.scss';
@import '../src/components/MedicalGroup/style.scss';
@import '../src/components/ContactInfo/style.scss';
@import '../src/components/Timeline/style.scss';
@import '../src/components/ContactForm/style.scss';
@import '../src/components/Downloads/style.scss';
@import '../src/components/ContactsBlock/style.scss';
@import '../src/components/Faq/style.scss';

// PARTIALS

@import '../src/partials/Button/style.scss';
@import '../src/partials/SvgIcon/style.scss';
@import '../src/partials/Media/style.scss';
