// Screen size variables
$screen-xs: 425px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1250px;

// Mixins
@mixin xs {
  @media (min-width: #{$screen-xs}) {
    @content;
  }
} // Tiny devices
@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
} // Small devices
@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
} // Medium devices
@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
} // Large devices
@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
} // Extra large devices



@mixin max-xs {
  @media (max-width: 424px) {
    @content;
  }
}
@mixin max-sm {
  @media (max-width: 575px) {
    @content;
  }
}
@mixin max-md {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin max-lg {
  @media (max-width: 991px) {
    @content;
  }
}
@mixin max-xl {
  @media (max-width: 1249px) {
    @content;
  }
}
