html {
  font-size: 62.5% !important;
  margin: 0;
  padding: 0;
  font-variant-numeric: lining-nums;
  font-feature-settings: 'lnum' 1;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  overflow-x: hidden;
}

html,
iframe {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
blockquote,
figure,
button {
  margin: 0;
  padding: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */

  &:hover,
  &:focus {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

  &:visited {
    outline: none;
  }
}

a,
button {
  color: inherit;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
}

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}
