/* montserrat-regular - latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/medicon/fonts/montserrat-v13-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/medicon/fonts/montserrat-v13-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/medicon/fonts/montserrat-v13-latin-ext-500.eot'); /* IE9 Compat Modes */
  src: url('/assets/medicon/fonts/montserrat-v13-latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-500.woff') format('woff'), /* Modern Browsers */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/medicon/fonts/montserrat-v13-latin-ext-600.eot'); /* IE9 Compat Modes */
  src: url('/assets/medicon/fonts/montserrat-v13-latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-600.woff') format('woff'), /* Modern Browsers */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/medicon/fonts/montserrat-v13-latin-ext-700.eot'); /* IE9 Compat Modes */
  src: url('/assets/medicon/fonts/montserrat-v13-latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/medicon/fonts/montserrat-v13-latin-ext-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: $blue;
  text-align: center;
  line-height: 1.4;
  padding: 2.5rem 0;
  margin: 0;
  
  @include md {
    padding: 5rem 0;
  }
}

h1 {
  @include fluid-type(26px, 42px);
}

h2 {
  @include fluid-type(26px, 40px);
}

h3 {
  @include fluid-type(26px, 32px);
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

strong {
  font-weight: 600;
}

p {
  line-height: 30px;
}

.gradientHeading {
  @include webkitGradientText;
}

.textCenter {
  text-align: center !important;
}
.textLeft {
  text-align: left !important;
}
.textRight {
  text-align: right !important;
}