h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: $blue;
  text-align: center;
  margin-bottom: 0;
  line-height: 1;
  padding: 45px;
  padding-bottom: 45px;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.6rem;

  @include md {
    font-size: 3.2rem;
  }
}
  
h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

strong {
  font-weight: 600;
}

p {
  line-height: 30px;
}

.gradientHeading {
  @include webkitGradientText;
}
