//FONTS
$mons: 'Montserrat', sans-serif;

//COLORS
$blue: #2473ba;
$lightBlue: #00aad0;
$darkGray: #3c3c3b;

//LAYOUT
$layoutMinWidth: 1240px;

//TRANSITIONS
$customEase: cubic-bezier(0.215, 0.61, 0.355, 1);
