.benefits {
  width: 100%;
  min-height: 140px;
  font-size: 2rem;
  background: white;
  margin-bottom: 40px;
  box-shadow: 0 0 25px rgba(0, 52, 97, 0.18);

  &__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

    &__element {
      height: 100%;
      grid-template-columns: 65px 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      
      &:not(:nth-child(4n)) {
        border-right: 1px solid #dbdbda;
      }

      img { width: inherit; }
    }
  }

  @include max-lg {
    font-size: 1.6rem;

    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0;
      
      &__element {
        grid-template-columns: none;
        justify-content: center;
        padding: 25px;

        img { margin: 0 auto; }
        p { 
          text-align: center;
          line-height: initial;
        }

        &:not(:nth-child(4n)) { border-right: none; }
        &:nth-of-type(1n) { border-bottom: 1px solid #dbdbda; }
        &:nth-child(2n) { border-left: 1px solid #dbdbda; }
        &:nth-last-child(-n+2) { border-bottom: none; }
      }
    }
  }

  @include max-sm {
    img {
      width: 35px;
      height: auto;
    }
    p { font-size: 14px; }
  }
}
