.benefits {
  width: 100%;
  font-size: 1.6rem;
  padding: 5rem 0 2rem 0;
  background: white;
  box-shadow: 0 0 25px rgba(0, 52, 97, 0.18);

  @include max-sm {
    font-size: 1.4rem;
    padding: 2.5rem 0 0 0;
  }

  &__list {
    justify-content: space-between;

    @include max-md {
      justify-content: space-around;
    }

    .col-12, .col-sm-6, .col-md-4, .col-lg-3 {
      margin-bottom: 3rem;

      @include max-sm {
        .benefits__list__element {
          border-right: none;
          border-bottom: 1px solid #dbdbda;
        }
      }

      &:last-of-type {
        .benefits__list__element {
          border-right: none;
          @include max-sm {
            border-bottom: none;
            padding-bottom: 0;
          } 
        }
      }

      &:nth-of-type(2n) {
        @include max-md {
          .benefits__list__element {
            border-right: none;
          }
        }
      }
    }

    &__element {
      height: 100%;
      width: 100%;
      display: table;
      border-right: 1px solid #dbdbda;

      @include max-sm {
        padding-bottom: 2rem
      }

      img {
        object-fit: contain !important;
      }


      p {
        padding: 0 1.5rem;
        display: table-cell;
        line-height: 2.6rem;
        vertical-align: middle;

        @include max-sm {
          padding-right: 0;
        }
      }

      .elBenefitHover {
        @include md { 
          &:hover {
            color: $blue;
          }
        }
      }

      .mediaRatio {
        width: 65px;
        height: 66px;
        display: table-cell;
        padding-top: 0 !important;
      }
    }
  }
}