.benefits {
  width: 100%;
  font-size: 2rem;
  background: white;
  box-shadow: 0 0 25px rgba(0, 52, 97, 0.18);

  &__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    padding: 40px 0;

    & > * { align-self: center; }

    &__element {
      height: 100%;
      grid-template-columns: 65px 1fr;
      grid-template-rows: auto;

      & > * { align-self: center; }

      &:not(:nth-child(4n)) {
        border-right: 1px solid #dbdbda;
      }

      p {
        max-width: 200px;

        @include lg {
          padding-right: 20px;
        }
      }

      @media (max-width: 1050px) {
        grid-gap: 15px;
      }

      img {
        object-fit: contain !important;
      }

      .mediaRatio {
        @include sm {
          width: 65px;
          height: 65px;
          padding-top: 0 !important;
        }
      }
    }
  }

  @include max-lg {
    font-size: 1.6rem;

    &__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-gap: 0;

      &__element {
        grid-template-columns: none;
        grid-template-rows: auto;
        justify-content: center;
        padding: 25px;

        .mediaRatio {
          margin: 0 auto;
        }

        p {
          text-align: center;
          line-height: initial;
        }

        &:not(:nth-child(4n)) {
          border-right: none;
        }
        &:nth-of-type(1n) {
          border-bottom: 1px solid #dbdbda;
        }
        &:nth-child(2n) {
          border-left: 1px solid #dbdbda;
        }
        &:nth-last-child(-n + 2) {
          border-bottom: none;
        }
      }
    }
  }

  @include max-sm {
    .mediaRatio {
      width: 34px;
      height: 34px;
      padding-top: 0 !important;
    }
    p {
      font-size: 14px;
    }
  }
}
